<h1>MiniHack App</h1>
<style type="text/css">body {background-image: url(http://img.photobucket.com/albums/v40/mitsiki/dolliecrave/backgrounds/cloudybubble/3.gif);}</style>
<p>

This is the home page for the

<a href="https://nameless-everglades-46209.herokuapp.com/static_pages/page1">Page1</a>
<a href="https://nameless-everglades-46209.herokuapp.com/static_pages/page2">Page2</a>
<a href="https://nameless-everglades-46209.herokuapp.com/static_pages/page3">Page3</a>

</p>
