<h1>MiniHack App</h1>
<style type="text/css">body {background-image: url(http://img.photobucket.com/albums/v40/mitsiki/dolliecrave/backgrounds/cloudybubble/3.gif);}</style>
<p>

This is the home page for the

<a href="http://www.railstutorial.org/">Page1</a>
<a href="http://www.railstutorial.org/">Page2</a>
<a href="http://www.railstutorial.org/">Page3</a>

</p>
