<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page 2</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>PAGE 2</h1>

    <p>
        <h2>Problem2</h2>
        <img src="/images/q2.png" alt="q2">
        <h2>Problem3</h2> 1.Copy the code from the developer tools to locally.
        <br>2.Adding image that want to add to the same folder as the code.
        <br>3.Adding some img code.
        <img src="/images/third.png" alt="third">
        <br>
        <img src="/images/q3.png" alt="q3">
        <h2>Problem4</h2>
        The class of div that changing all the time is class “layer”. I know that it was this class because when I put the mouse on this class and every times that the web page animation changing, there are purple highlight on this class. Inside of this class, there are canvas element, which is used to draw graphics, on the fly, via JavaScript.
        The canvas element is only a container for graphics.
        <br>
        <img src="/images/q4.png" alt="q4">
        <h2>Problem5</h2>
        <h2>Problem6</h2>
        1. Write the code in html.<br>
        2. Create CSS file.<br>
        3. Right click at Background-color and choose color picker and select the blue color.<br>
        <img src="/images/pp.png" alt="pp">
    </p>

</body>

</html>