<!DOCTYPE html>
<html lang="en">

<head>
 <title>Page 3</title>
 <meta charset="utf-8">
</head>
<body>
 <h1>PAGE 3</h1>

 <p>
  <h2>Problem1</h2>
    The game does not start until you click the restart button. I modify it by adding myGameArea.start() and startGame() at the beginning of function restartGame().
    <img src="/images/first.png" alt="first">
    <h2>Problem2</h2>
    The game piece is blue instead of red. I modify it by changing the color name.
    <img src="/images/blue.png" alt="blue">
    <br>
      The obstacles’ color is yellow instead of green. I modify it by changing the color name.
    <img src="/images/yellow.png" alt="yellow">
    <h2>Problem3</h2>
    Add function pause. If myGameArea.pause is false and button pause was click, it will stop the game and myGameArea.pause will change to true. If myGameArea.pause was already true, it will do opposite.
    <img src="/images/pause.png" alt="pause">
    <h2>Problem4</h2>
    I modify it by adding var health and if it >= 3 it will stop because it have only 3 chance.
    <img src="/images/forth.png" alt="forth">
 </p>

 </body> </html>